#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>



/ {
	keymap {
		compatible = "zmk,keymap";
		layer_0 {
			bindings = <
				&bootloader
				&kp GRAV       &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp MINUS    &kp EQUAL     &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0  &kp BKSP
				&kp TAB        &kp Q        &kp W        &kp E        &kp R        &kp T        &kp LBKT     &kp RBKT     &kp Y        &kp U        &kp I        &kp O        &kp P         &kp BSLH
				&kp ESC        &kp A        &kp S        &kp D        &kp F        &kp G                                  &kp H        &kp J        &kp K        &kp L        &kp SEMICOLON &kp APOS
				&mt LSHFT LPAR &kp Z        &kp X        &kp C        &kp V        &kp B        &kp C_VOL_DN &kp C_VOL_UP &kp N        &kp M        &kp CMMA     &kp DOT      &kp FSLH      &mt RSHFT RPAR
				&mt LCTL ESC   &kp LALT     &kp LGUI     &kp LARW     &kp RARW                                                         &kp UARW     &kp DARW     &kp RGUI     &kp RALT      &to 1
				                                                                   &kp C_MUTE   &kp C_PP     &kp DEL      &kp INS
				                                                      &kp SPACE    &kp BKSP     &kp PGUP     &kp PGDN     &kp SPC      &kp ENTER
				                                                                                &none        &none
			>;
		};
		layer_1 {
			bindings = <
				&bootloader
				&none   &none     &none        &none     &none    &none &none                &none                &none   &none        &none        &none        &none        &none
				&kp TAB &none     &none        &none     &none    &none &none                &none                &none   &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &none        &none
				&none   &kp SLASH &kp ASTERISK &kp MINUS &kp PLUS &none                                           &none   &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_0 &kp BKSP
				&none   &none     &none        &none     &kp DOT  &none &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC &none   &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &none        &none
				&none   &none     &none        &kp LARW  &kp UARW                                                         &kp DARW     &kp RARW     &none        &none        &to 0
				                                                  &none &none                &none                &none
				                                         &none    &none &none                &none                &kp SPC &none
				                                                        &kp RET              &none
			>;
		};
	};

};
